# Build output
*.o
*.out
*.exe
*.dSYM/
*.dSYM
code/blockchain
code/bin/*
!code/bin/qui_salvare_exe.txt
code/src/output/

# Runtime
*.log
blockchain.csv
tmp/

# CLion / CMake
.idea/
.vscode/
.cache/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
build/
.cmake/
CMakeLists.txt
compile_commands.json

# Project assignment files
2026-project-4.pdf
2026-project-4.tar.gz
2026-project-4/

# OS/editor files
.DS_Store
._*
.AppleDouble
.LSOverride
Icon?
*.log

# Binari compiled
/blockchain
/client
/miner
/node
/ClientsLauncher
/MinerLauncher

# Script install di CMake
cmake_install.cmake
